<!DOCTYPE html>
<html>
<head>
  <title>Nanoz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div>
  <h1>Дисклеймер</h1>
  <div> Данный сайт НЕ является интернет-магазином. <br/>
    Это всего-лишь результат тестового задания по программированию.<br/>
    Автор не несет ответственности и не предоставляет гарантий в связи с публикацией фактов, данных, результатов и другой информации.
  </div>
</div>

</body>
</html>
